<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Party!</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>

<h1>Party!</h1>

<h2>Guest List</h2>

<strong>We're already <%= @guests.size %> people!</strong>
<br>
<% if @guests.size > 0 %>
  <table class="table_color">
    <tr>                  
      <th>Name</th>    
      <th>Number of Friends</th> 
      <th>Time of Arrival</th>  
      <th>Website</th>    
    </tr>
    <% @guests.each do |guest| %>
      <tr> 
        <td><%= guest.name %></td>
        <td class="align_right"><%= guest.number_of_friends %></td>
        <td class="align_right"><%= guest.time_of_arrival %></td>
        <td class="align_right"> 
          <% if guest.website%>
            <a href="<%= guest.website %>"><%=guest.website%></a>
          <% else %>
            <a href="https://google.com">Google</a>
          <% end %>
        </td>
      </tr>

    <% end %>
  </table>
<% else %>
  <p>No one has signed up yet :( </p> 
  <p>Be the first to sign up!</p>
<% end %>
<!-- <img src="party-hard.gif" /> -->

<h2>Sign up for the party!</h2>

<form action="/party/guests" method="POST">
  <p>
    <label>Name:
      <input type="text" name="guest_name" placeholder="John Doe" />
    </label>
  </p>

  <p>
    <label>Number of friends:
      <input type="text" name="guest_number_of_friends" placeholder="1, 2, 3" />
    </label>
  </p>

  <p>
    <label>Time of arrival:
      <input type="text" name="guest_time_of_arrival" placeholder="20:00" />
    </label>
  </p>
   <p>
    <label for="homepage">Add your homepage:
      <input type="url" name="guest_website">
    </label>
  </p>
  <p>
    <input type="submit" name="submit" value="Sign up!" />
  </p>

</form>

</body>
</html>
