<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Party!</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
<header>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/party">Party</a></li>
    <li><a href="/signup">Sign up for the party!</a></li>
  </ul>
</nav>
<h1>Party!</h1>
</header>

<main>
  <h2>Guest List</h2>

  <strong>We're already <%= @guests.size %> people!</strong>
  <br>
  <% if @guests.size > 0 %>
    <table class="table_color">
      <tr>                  
        <th>Name</th>    
        <th>Number of Friends</th> 
        <th>Time of Arrival</th>  
        <th>Website</th>    
      </tr>
      <% @guests.each do |guest| %>
        <tr> 
          <td><%= guest.name %></td>
          <td class="align_right"><%= guest.number_of_friends %></td>
          <td class="align_right"><%= guest.time_of_arrival %></td>
          <td class="align_right"> 
            <% if guest.website%>
              <a href="<%= guest.website %>"><%=guest.website%></a>
            <% else %>
              <a href="https://google.com">Google</a>
            <% end %>
          </td>
        </tr>

      <% end %>
    </table>
    <div class="video-container">
      <iframe class="video" src="https://www.youtube.com/embed/-Js49GdidVk" autoplay></iframe>
    </div>
  <% else %>
    <p>No one has signed up yet :( </p> 
    <p>Be the first to sign up!</p>
    <div class="video-container">
      <iframe class="video" src="https://www.youtube.com/embed/CkJ6w-V54EA" autoplay></iframe>
    </div>
    
  <% end %>
  <img src="party-hard.gif" /> 


</main>
<footer>
  <p>2023 Sarah Rebecca Meyer</p>
</body>
</html>
